## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [151]:
import pandas as pd
import numpy as np

In [152]:
data = {'國家': ['thai','taiwan','usa', 'japan'],
        '人口': [] }
for d in data['國家']:
    data['人口'].append(np.random.randint(100,500))
rst = pd.DataFrame(data)

In [153]:
rst

       國家   人口
0    thai  331
1  taiwan  256
2     usa  410
3   japan  120

In [154]:
country = rst['國家'][rst['人口'].idxmax()]
print('人口最多國家 => {} 有 {} 人'.format(country, rst['人口'].max()))

人口最多國家 => usa 有 410 人